/* fonts  */

@font-face {
  font-family: Poppins-Medium;
  src: url('/font/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('/font/Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: Poppins-Regular;
  src: url('/font/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('/font/Poppins/Poppins-SemiBold.ttf');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  background-color: white;
  font-size: 16px;
  font-family: Poppins, 'Courier New', Courier, monospace;
  /* color: gray; */
}

.heading1 {
  font-family: Poppins-SemiBold;
  font-size: 40px;
  color: var(--primary-text);
}

.heading2 {
  font-family: Poppins-SemiBold;
  font-size: 32px;
  color: var(--primary-text);

}

.heading3 {
  font-family: Poppins-SemiBold;
  font-size: 24px;
  color: var(--primary-text);

}

.course-card {
  background-color: #F1F1FB;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  overflow: hidden;
}

.course-card img {
  width: 100%;
  height: 220px;
}

.course-card-body {
  padding: 10px 15px;
  padding-bottom: 20px;
}

.course-card-heading {
  font-size: 18px;
  font-family: Poppins-SemiBold, 'Courier New', Courier, monospace;
  min-height: 50px;
}

.course-card-descripiton {
  margin: 10px 0px;
}

.course-card-btns-box {
  display: flex;
  gap: 25px;
}

.course-card-btn {
  padding: 10px 20px;
  border-radius: 7px;
  margin: 0px;
  border: none;
  outline: none;
  background-color: var(--accent-bg);
  color: white;
  cursor: pointer;
}

.course-card-btn:hover {
  opacity: 0.8;
}